
@keyframes upto {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0%);
    }
}

@keyframes downto {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(4%);
    }
}

@keyframes leftTOright{
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0%);
    }
}

@keyframes rightTOleft{
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(0%);
    }
}

@keyframes display {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes slide-in {
    0% {
        opacity: 1;
        transform: translateY(-100%);
    }

    55% {
        opacity: 1;
        transform: translateY(20%);
    }

    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes slide-up {
    0% {
        opacity: 1;
        transform: translateY(0%);
    }

    55% {
        opacity: 0;
        transform: translateY(100%);
    }

    100% {
        opacity: 0;
        transform: translateY(-110%);
    }
}

@keyframes spin {
    0% {
        --rotate: 0deg;
    }

    100% {
        --rotate: 360deg;
    }
}

@keyframes E01i {
    0% {
        transform: rotate(0)
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


@keyframes skill_70_animation {
    from {
        width: 0%;
    }

    to {
        width: 70%;
    }
}

@keyframes skill_60_animation {
    from {
        width: 0%;
    }

    to {
        width: 60%;
    }
}

@keyframes zoomout {
    0% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(1);
    }
}