@media screen and (max-width: 1200px) {
    .container {
        max-width: 1140px !important;
    }
}

@media screen and (max-width: 992px) {
    .container {
        max-width: 960px !important;
    }

    .banner_content {
        flex-wrap: wrap;
        flex-direction: column-reverse;
        align-items: center;
    }

    .banner_content .Cnt_img {
        justify-content: center;
    }

    .follow_area {
        position: relative;
        max-width: 330px;
        gap: 25px;
        margin: 35px 0px;
        transform: rotate(0deg) !important;
        bottom: 0;
        left: 85px;
    }

    .flw_icon a i {
        transform: rotate(0deg);
    }

    .EImg01 {
        right: 423px;
        top: 343px;
    }

    .banner_content .Cnt_info {
        width: 58%;
        position: relative;
        margin-top: 60px;
    }

    .banner_content .Cnt_info .title_inner h2 {
        text-align: center;
        font-size: 48px;
    }

    .banner_content .Cnt_info .title_inner .title_animation {
        text-align: center;
    }

    .banner_content .Cnt_info .btn_area .btn {
        margin: 0 auto;
    }

    .Ecnt01 {
        top: 50px;
        left: 23rem;
    }

    .Ecnt02 {
        bottom: -5px;
        right: 8px;
    }

    .Ecnt02 img {
        width: 45px !important;

    }

    .about_education .education_item .languages_item {
        width: 200px;
    }

    .skill_item:hover .skill_level,
    .skill_description,
    .btn_area .btn,
    .banner_content .Cnt_info .description p,
    .banner_content .Cnt_info .btn_area .btn,
    .follow_area span,
    .banner_about .about_content p,
    .projects_container p {
        font-size: var(--size_p992px);
    }

    .banner_content .Cnt_info .title_inner .title_animation p,
    .container h1 {
        font-size: var(--h1_container992px);
    }

    .banner_about .about_content h3 {
        font-size: 19px;
    }

    .banner_about .about_img img {
        width: 100%;
    }

    .skill_item:last-child {
        transform: translateX(115px);
    }

    /* PROJECT */

    .h1_title_Projects {
        margin-bottom: 30px !important;
    }

    .banner_projects .projects_coright {
        flex-basis: 60%;
    }

    .project_item {
        width: 203px;
        height: 203px;
    }

    .project_item_container {
        width: 200px;
        height: 200px;
    }

    .project_item_content h2 {
        font-size: 15px;
    }

    .project_item_content p {
        font-size: 13px;
    }

    .project_item .project_item_img {
        height: 33%;
    }

    /*SKILL*/
    .skills_container .skill_img {
        flex-basis: 60%;
    }

    .skill_item {
        transform: translateY(35px);
        width: 35%;
    }

    .skill_item:nth-child(5),
    .skill_item:nth-child(6) {
        transform: translate(-380px, 35px);
    }

    .skill_item:nth-child(7),
    .skill_item:nth-child(8) {
        transform: translate(0px, -80px);
    }

    .skill_item:last-child {
        display: none;
    }

}

@media screen and (max-width: 768px) {
    .container {
        max-width: 720px !important;
    }

    .skill_item:hover .skill_level,
    .skill_description,
    .contact_content .contact_item .contact_item_content,
    .btn_area .btn,
    .banner_content .Cnt_info .description p,
    .banner_content .Cnt_info .btn_area .btn,
    .follow_area span,
    .banner_about .about_content p,
    .projects_container p {
        font-size: var(--size_p768px);
    }

    .banner_content .Cnt_info .title_inner .title_animation p,
    .container h1 {
        font-size: var(--h1_container768px);
    }

    .navbar {
        display: none;
    }

    .banner_content .Cnt_info .btn_area .btn {
        font-size: 16px;
        padding: 12px 17px;
        margin: 28px 0px 20px 0px;
    }

    .OC_btn {
        display: block;
    }

    .btn_area {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .follow_area {
        left: 150px;
    }

    .banner_content .Cnt_img .banner_img {
        width: 300px;
        height: 300px;
    }

    .Ecnt01 {
        top: 46px;
        left: 29rem;
    }

    .EImg01 {
        right: 387px;
        top: 361px;
    }

    .EImg02 {
        right: 24px;
        top: -105px;
    }

    .banner_content .Cnt_info {
        width: 100%;
        position: relative;
        margin-top: 50px;
        margin-left: 0px;
    }

    .banner_content .Cnt_info .title_inner h2 {
        font-size: 45px;
    }

    .banner_content .Cnt_info .title_inner .title_animation p {
        font-size: 40px;
    }

    .banner_content .Cnt_info .title_inner .title_animation {
        width: 100%;
        height: 70px;
    }

    .banner_content .Cnt_info .description p {
        font-size: 16px;
    }


    /*EDUCATION*/
    .banner_about .about_content .about_education {
        margin-top: 30px;
    }

    .about_education {
        width: 170%;
        transform: translate(-263px, 30px);
    }

    .banner_about .about_content .about_education .education_item {
        flex-basis: 45%;
    }

    /*SKILL*/
    .skill_item {
        width: 42%;
        transform: translateY(0);
        margin: 0.6em;
    }

    .skill_item:nth-child(5),
    .skill_item:nth-child(6) {
        transform: translate(-325px, 0);
    }

    .skill_item:nth-child(7),
    .skill_item:nth-child(8) {
        transform: translate(0px, -115px);
    }

    /*PROJECT*/
    .project_item_container {
        width: 170px;
        height: 170px;

    }

    .project_item {
        width: 173px;
        height: 173px;
    }

    .project_item_content p {
        font-size: 10px;
    }

    .projects_coleft h1,
    .projects_coleft p {
        transform: translateY(0px);
    }

    .project_item_container .btn_area .btn {
        font-size: 12px;
        padding: 0.5em 0.7em;
    }


}

@media screen and (max-width: 576px) {
    .container {
        max-width: 540px !important;
    }

    .skill_item:hover .skill_level,
    .skill_description,
    .contact_content .contact_item .contact_item_content,
    .btn_area .btn,
    .banner_content .Cnt_info .description p,
    .banner_content .Cnt_info .btn_area .btn,
    .follow_area span,
    .banner_about .about_content p,
    .projects_container p {
        font-size: var(--size_p576px);
    }

    .banner_content .Cnt_info .title_inner .title_animation p,
    .container h1 {
        font-size: var(--h1_container576px);
    }

    section {
        position: relative;
        padding: 261px 16px 49px 16px;
    }

    .EImg01 {
        right: 313px;
        top: 319px;
    }

    .follow_area {
        left: 100px;
    }

    .banner_content .Cnt_img .banner_img {
        width: 250px;
        height: 250px;
    }


    .Ecnt01 img {
        width: 25px;
        transform: translate(5px, -65px);
    }



    .Ecnt01 {
        top: 50px;
        left: 20rem;
    }

    .Ecnt02 img {
        width: 30px;
    }

    /*EDUCATION*/
    .banner_about .about_content .about_education .education_item {
        flex-basis: 48%;
    }

    .about_education {
        width: 190%;
        transform: translate(-200px, 0px);
    }

    /*SKILL*/
    .skills_container .skill_img {
        flex-basis: 70%;
    }

    .skill_item {
        height: 4.5em;
    }

    .skill_item:nth-child(7),
    .skill_item:nth-child(8) {
        transform: translate(0px, -91px);
    }

    .skill_item:nth-child(5),
    .skill_item:nth-child(6) {
        transform: translate(-252px, 0);
    }

    /*PROJECT*/
    .projects_coleft {
        transform: translateY(30px);
    }

    .banner_projects .projects_coright {
        flex-basis: 58%;
    }

    .project_item_container {
        width: 130px;
        height: 165px;
    }

    .project_item {
        width: 133px;
        height: 168px;
    }

    .project_item_content p {
        font-size: 10px;
    }

    .project_item_container .btn_area .btn {
        font-size: 11px;
        padding: 0.4em 0.6em;
    }

    .project_item_content h2 {
        font-size: 12px;
    }

}

@media screen and (max-width: 460px) {
    .container {
        max-width: 430px !important;
    }

    section {
        padding: 210px 20px 50px 40px;
    }

    .skill_item:hover .skill_level,
    .skill_description,
    .contact_content .contact_item .contact_item_content,
    .btn_area .btn,
    .banner_content .Cnt_info .description p,
    .banner_content .Cnt_info .btn_area .btn,
    .follow_area span,
    .banner_about .about_content p,
    .projects_container p {
        font-size: var(--size_p460px);
    }

    .banner_content .Cnt_info .title_inner .title_animation p,
    .container h1 {
        font-size: var(--h1_container460px);
    }

    .banner_content .Cnt_img .banner_img {
        width: 220px;
        height: 220px;
    }

    .EImg01 {
        right: 15rem;
        top: 249px;
    }

    .EImg02 {
        right: 2px;
        top: -84px;
    }


    .banner_content .Cnt_info .btn_area .btn {
        font-size: 15px;
        margin: 0px;
        margin-bottom: 10px;
    }

    .follow_area {
        left: 0px;
    }

    .Ecnt01 {
        top: 55px;
        left: 13rem;
    }

    .Ecnt02 {
        left: 200px;
        bottom: -30px;
    }

    .Ecnt01 img {
        width: 30px;
    }

    .Ecnt02 img {
        width: 38px;
    }

    .flw_icon {
        gap: 12px;
    }

    .banner_about .about_content h2 {
        font-size: 20px;
        margin-top: 0;
    }

    .banner_about .about_content p {
        margin: 0px 3px 6px 0;
    }

    /*EDUCATION*/


    .about_education .education_item h3 {
        margin-bottom: 10px;
    }

    .banner_about .about_content .about_education .education_item {
        flex-basis: 49%;
    }

    .about_education {
        width: 200%;
        transform: translate(-170px, 0px);
    }

    .skill_item {
        height: 4em;
    }

    .about_education .education_item .languages_item {
        width: 150px;
    }

    /*SKILL*/
    .skills_container .skill_content{
        flex-grow: 1;
    }
    .skills_container .skill_img{
        display: none;
    }
    .skill_item{
        transform: translate(0px, 0px)!important;
        width: 6.2em;
    }

    .skill_item:last-child{
        display: block;
    }

    /*PROJECT*/
    .skills_container, .projects_container{
        flex-direction: column;
    }
    .banner_projects .projects_coleft{
        transform: translateY(0px);
    }
    .project_item_container {
        width: 140px;
        height: 150px;
    }

    .project_item {
        width: 143px;
        height: 153px;
    }

    .banner_projects .projects_coright{
        transform: translateY(15px);
    }

    /*Contact*/
    .contact_content .contact_item .contact_item_icon i{
        line-height: 40px;
        font-size: 18px;
    }

    .contact_content .contact_item .contact_item_icon{
        width: 40px;
        height: 40px;
    }

    .contact_container .contact_content{
        justify-items: flex-start;
        align-items: flex-start;
        flex-direction: column;
    }

    .contact_content .contact_item{
        width: 100%;
        flex-direction: row;
        justify-content: space-around;
        margin-bottom: 20px;
    }


    .contact_item_content{
        flex-basis: 80%;
        text-align: center;
    }
    .contact_content .contact_item .contact_item_icon{
        margin: 0px;
    }

    .contact_img{
        display: none;
    }

    .contact_content_bottom{
        margin-top: 50px;
    }

    .btn_submitForm{
        font-size: 13px!important;
    }

}