@media screen and (max-width: 1200px) {
    .container {
        max-width: 1140px !important;
    }
}

@media screen and (max-width: 992px) {
    .container {
        max-width: 960px !important;
    }

    .banner_content {
        flex-wrap: wrap;
        flex-direction: column-reverse;
        align-items: center;
    }

    .banner_content .Cnt_img {
        justify-content: center;
    }

    .follow_area {
        position: relative;
        max-width: 330px;
        gap: 25px;
        margin: 35px 0px;
        transform: rotate(0deg) !important;
        bottom: 0;
        left: 85px;
    }

    .flw_icon a i {
        transform: rotate(0deg);
    }

    .EImg01 {
        right: 423px;
        top: 343px;
    }

    .banner_content .Cnt_info {
        width: 58%;
        position: relative;
        margin-top: 60px;
    }

    .banner_content .Cnt_info .title_inner h2{
        text-align: center;
        font-size: 48px;
    }

    .banner_content .Cnt_info .title_inner .title_animation{
        text-align: center;
    }

    .banner_content .Cnt_info .btn_area .btn {
        margin: 0 auto;
    }

    .Ecnt01 {
        top: 50px;
        left: 23rem;
    }

    .Ecnt02 {
        bottom: -5px;
        right: 8px;
    }

    .Ecnt02 img {
        width: 45px !important;

    }

    .about_education .education_item .languages_item{
        width: 200px;
    }

    .btn_area .btn,
    .banner_content .Cnt_info .description p,
    .banner_content .Cnt_info .btn_area .btn,
    .follow_area span,
    .banner_about .about_content p,
    .projects_container p {
        font-size: var(--size_p992px);
    }

    .banner_about .about_content h3 {
        font-size: 19px;
    }

    .banner_about .about_img img {
        width: 100%;
    }

    .skill_item:last-child {
        transform: translateX(115px);
    }

    .banner_content .Cnt_info .title_inner .title_animation p,
    .container h1 {
        font-size: var(--h1_container992px);
    }

    /* PROJECT */
    .h1_title_Projects {
        margin-bottom: 30px !important;
    }

    .banner_projects .projects_coright {
        flex-basis: 60%;
    }

    .project_item {
        width: 203px;
        height: 203px;
    }

    .project_item_container {
        width: 200px;
        height: 200px;
    }

    .project_item_content h2 {
        font-size: 15px;
    }

    .project_item_content p {
        font-size: 13px;
    }

    .project_item .project_item_img {
        height: 33%;
    }

    /*SKILL*/
    .skills_container .skill_img{
        flex-basis: 60%;
    }
    .skill_item{
        transform: translateY(35px);
        width: 35%;
    }

    .skill_item:nth-child(5),
    .skill_item:nth-child(6){
        transform: translate(-380px,35px);
    }

    .skill_item:nth-child(7),
    .skill_item:nth-child(8){
        transform: translate(0px,-80px);
    }
    .skill_item:last-child{
        display: none;
    }

}

@media screen and (max-width: 768px) {
    .container {
        max-width: 720px !important;
    }

    .btn_area .btn,
    .banner_content .Cnt_info .description p,
    .banner_content .Cnt_info .btn_area .btn,
    .follow_area span,
    .banner_about .about_content p,
    .projects_container p {
        font-size: var(--size_p768px);
    }

    .navbar {
        display: none;
    }

    .banner_content .Cnt_info .btn_area .btn {
        font-size: 16px;
        padding: 12px 17px;
        margin: 28px 0px 20px 0px;
    }

    .OC_btn {
        display: block;
    }

    .btn_area {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .banner_content .Cnt_img .banner_img {
        width: 300px;
        height: 300px;
    }

    .Ecnt01{
        top: 46px;
        left: 29rem;
    }

    .EImg01 {
        right: 387px;
        top: 361px;
    }

    .EImg02 {
        right: 24px;
        top: -105px;
    }

    .banner_content .Cnt_info {
        width: 100%;
        position: relative;
        margin-top: 50px;
    }

    .banner_content .Cnt_info .title_inner h2 {
        font-size: 45px;
    }

    .banner_content .Cnt_info .title_inner .title_animation p {
        font-size: 40px;
    }

    .banner_content .Cnt_info .title_inner .title_animation {
        width: 100%;
        height: 70px;
    }

    .banner_content .Cnt_info .description p {
        font-size: 16px;
    }


    /*EDUCATION*/
    .banner_about .about_content .about_education{
        margin-top: 30px;
    }
    .about_education .education_item:nth-child(1){
        transform: translateX(-65px);
    }
    .about_education .education_item:nth-child(2){
        transform: translateX(-85px);
    }

    .about_education .education_item:nth-child(3){
        transform: translate(-255px, -183px);   
    }

    .about_education .education_item:last-child{
        transform: translate(242px, -377px);
    }

    .education_item .languages_item p:last-child{
        display: none;
    }

    /*SKILL*/
    .skill_item{
        width: 42%;
        transform: translateY(0);
    }
    .skill_item:nth-child(5),
    .skill_item:nth-child(6){
        transform: translate(-340px, 0);
    }

    .skill_item:nth-child(7),
    .skill_item:nth-child(8){
        transform: translate(0px,-115px);
    }

    /*PROJECT*/
    .project_item_container,
    .project_item{
        width: 170px;
    }

    .projects_coleft h1,
    .projects_coleft p{
        transform: translateY(3x0px);
    }
}

@media screen and (max-width: 576px) {
    .container {
        max-width: 540px !important;
    }

    .EImg01 {
        right: 313px;
        top: 319px;
    }

    .banner_content .Cnt_img .banner_img {
        width: 250px;
        height: 250px;
    }

    section {
        position: relative;
        padding: 261px 16px 49px 16px;
    }

    .Ecnt01 img {
        width: 25px;
        transform: translate(5px, -65px);
    }



    .Ecnt01 {
        top: 50px;
        left: 20rem;
    }

    .Ecnt02 img {
        width: 30px;
    }
}

@media screen and (max-width: 460px) {
    .container {
        max-width: 380px !important;
    }

    section {
        padding: 221px 0 49px 0;
    }

    .banner_content .Cnt_img {
        justify-content: flex-end;
    }

    .banner_content .Cnt_img .banner_img {
        width: 220px;
        height: 220px;
    }

    .EImg01 {
        right: 15rem;
        top: 249px;
    }

    .EImg02 {
        right: 2px;
        top: -84px;
    }

    .banner_content .Cnt_info .title_inner h2 {
        font-size: 27px;
    }

    .banner_content .Cnt_info .title_inner .title_animation p {
        font-size: 22px;
    }

    .banner_content .Cnt_info .title_inner .title_animation {
        height: 40px;
    }

    .banner_content .Cnt_info .description p {
        font-size: 14px;
    }

    .banner_content .Cnt_info .btn_area .btn {
        margin: 28px 0px 20px 30px;
    }

    .btn_area {
        display: block;
    }

    .btn_area .btn {
        font-size: 15px;
    }

    .follow_area span {
        color: #fff;
        position: relative;
        padding-right: 57px;
        font-size: 15px;
    }

    .follow_area {
        gap: 10px;
        margin: 20px 0px;
        left: -53px;
    }

    .Ecnt01 {
        top: 55px;
        left: 13rem;
    }

    .Ecnt02 {
        left: 200px;
        bottom: -30px;
    }

    .Ecnt01 img {
        width: 30px;
    }

    .Ecnt02 img {
        width: 38px;
    }

    .flw_icon {
        gap: 12px;
    }

    .skill_item:last-child {
        transform: translateX(0px);
    }

    .contact_content .contact_item .contact_item_content,
    .btn_area .btn,
    .banner_content .Cnt_info .description p,
    .banner_content .Cnt_info .btn_area .btn,
    .follow_area span,
    .banner_about .about_content p,
    .projects_container p {
        font-size: var(--size_p440px);
    }

    .container h1 {
        font-size: var(--h1_container440px);
    }

    .skills_container,
    .about_container {
        flex-direction: column;
    }

    .banner_about .about_content h2 {
        font-size: 22px;
    }

    .banner_about .about_content h3 {
        font-size: 15px;
    }

    .about_education .education_item .languages_item {
        width: 150px;
    }

    .banner_about .about_content {
        flex-basis: 55%;
    }

    .banner_about .about_content .about_education .education_item {
        flex-grow: 1;
    }

    .skills_container .skill_img,
    .banner_about .about_img img {
        display: none;
    }

    .banner_about .about_content h2 {
        text-align: center;
        background: linear-gradient(25deg, #ff00ea, #2600fc 77%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .skill_item{
        height: 55px;
        width: 90px;
    }
}